/*css externo*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

p {
    color: fuchsia;
    font-size: 30px;
    text-align: center;
}

.sobre-mim {
    color: #151313;
    font-weight: 700;
}

#texto {
    color: aqua;
}

/*estilização - classe 
id - javascript*/